<h1>Login</h1>
<hr>



<form action="/api/users" method="post">
	Name:<br>
    <input type="text" name="name" required><br>
    Password:<br>
    <input type="password" name="pass" required><br>
    <input type="text" name="act" value = "login" hidden ><br>
    <input type="submit" value = "login">
</form>
{{ login_message }}

<hr>
<h1>Signup</h1>
<form action="/api/users" method="post">
	Name:<br>
    <input type="text" name="name" required><br>
    Password:<br>
    <input type="password" name="pass" required><br>
    Email:<br>
    <input type="email" name="Email" required><br>    
    <input type="text" name="act" value = "signup" hidden ><br>
    <input type="submit" value = "signup">
</form>
{{ signup_message }}

<hr>